input[type=email]{
	color: #000000;
	}
	
input[type=password]{
	color: #000000;
	}

input[type=submit]{
	background-color: #0D2946;
	border: none;
	padding: 5px;
	margin: 3px 3px;
	cursor: pointer;
	box-shadow: 1px 1px 5px #B8AA74;	
	}

input[type=submit]:hover{
	box-shadow: 1px 1px 4px #32FFFF;	
	}
